
 * {
	margin: 0;
	padding: 0;
}

.navbar {
	display: flex;
	align-items: center;
	justify-content: center;
	position: sticky;
	top: 0;
	cursor: pointer;
}

.background {
	background: rgb(0, 0, 0);
	background-blend-mode: darken;
	height: 130px;
}

.nav-list {
	width: 100%;
	display: flex;
	align-items: center;
	font-size: 27px;
    line-height: 27px;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
}

.logo img {
	width: 99px;
	border-radius: 15px;
	
}

.nav-list li {
	list-style: none;
	padding: 0 15px;
	font-style: sans-serif;
}

.nav-list li a {
	text-decoration: none;
	color: rgb(255, 255, 255);
}

.nav-list li a:hover {
	color: rgb(0, 255, 115);
}


.box-main {
	display: flex;
	justify-content: center;
	align-items: center;
	color: black;
	max-width: 80%;
	margin: auto;
	height: 80%;
}

.firsthalf {
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.secondhalf {
	width: 30%;
}

.secondhalf img {
	width: 70%;
	border: 4px solid white;
	border-radius: 150px;
	display: block;
	margin: auto;
}

.text-big {
	font-style: italic;
	font-size: 80px;
    line-height: 80px;
}

.text-small {
	font-size: 18px;
}

.btn {
	padding: 8px 20px;
	margin: 7px 0;
	border: 2px solid white;
	border-radius: 8px;
	background: none;
	color: white;
	cursor: pointer;
}

.btn-sm {
	padding: 6px 10px;
	vertical-align: middle;
}

.section {
	height: 400px;
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 90%;
	margin: auto;
}

.section-Left {
	flex-direction: row-reverse;
}

.paras {
	padding: 0px 65px;
}

.thumbnail img {
	width: 250px;
	border: 2px solid rgb(0, 0, 0);
	border-radius: 26px;
	margin-top: 19px;
}

.center {
	text-align: center;
}

.text-footer {
	
	font-style: italic;
	color: rgb(255, 255, 255);
}
.social-icons{
	color: rgb(255, 255, 255);
	transition: color 0.2s;
	text-decoration: none;
	margin:0 15px;
	font-size: 27px;
    line-height: 27px;
	
  }
  .social-icons:hover{
	color: rgb(0, 255, 157)
  }

  .text {
	font-style: sans-serif;
    width: 99%;
    display: flex;
    justify-content: flex-end;
    list-style: none;
	font-size: 27px;
    line-height: 27px;
  }
.background-footer {
	background: rgb(0, 0, 0);
	background-blend-mode: darken;
	height: 120px;
}

.text li a {
	text-decoration: none;
	color: rgb(255, 251, 251);
}

.text li a:hover {
	color: rgb(0, 255, 128);
}
.text li {
	list-style: none;
	padding: 0 15px;
	
}

hr {
    clear: both;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right,rgba(0,0,0,0),rgba(0,0,0,.75),rgba(0,0,0,0));
	font-weight: 400;
    font-family: 'Lucida Sans';
}


.pr {
    
	font-size: sans-serif;
	font-size: 27px;
    line-height: 27px;
}

h2 {
font-weight: 400;
font-style: italic;
font-size: 60px;
line-height: 60px;
text-align: left;
margin-bottom: 10px;
}
